<h1>SPDG Initiative Database Toolkit</h1>
 <% if user_signed_in? %>
 	<p>Hello <%= current_user.email %></p>
 	<% if current_user.guest? %>
 	<p>Your account is awaiting approval.</p>
 	<% end %>
<% else %>
	<p>Please <%= link_to('Login', new_user_session_path)  %> </p>
<% end %>
