/* CSS override: 1335807745 */
body {
  background-color: #9AA45F;
  background-image: url('images/background.png');
  background-repeat: repeat;
  background-position: top center;
  line-height:1.4;
  min-width: 995px;
}

.page-header {
	margin: 10px 0 15px;
}

h1 {
  font-size: 24px;
  line-height: 1.1;
  text-shadow: 1px 1px 3px #999999;
  color: #819033;
}

h2 {
  color: #9AA45F;
  font-size: 18px;
  text-shadow: 1px 1px 1px #D0E621;
}

h3 {
  color: #333333;
  font-size: 15px;
  text-shadow: 1px 1px 1px #999999;
}

h4 { color: #D0E621; }

label {
	font-weight: 700;
}

.base_content {
  background: #fff;
  border: 4px solid #FFF;
  padding: 8px 16px;
  min-height: 200px;
}

.block {
	margin: 1em 0;
}

.fields {
	margin: 1em 0;
}
.navbar {
  color: #FFF;
  background-color: #819033;
  border: 4px solid #FFF;
  margin: 20px 20px;
  padding: 0;
}

.navbar p { margin: 0; }

.navbar ul {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0;
}

.navbar ul li {
  display: inline;
  list-style-type: none;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 15px;
}


.navbar ul li a:link, .navbar ul li a:visited {  color: #DDD; text-decoration: none; }
.navbar ul li a:hover {  color: #FFF; text-decoration: none; }

.navbar-inner {
 background-color: #819033!important;
}

.footer, footer { margin: 30px 0; padding: 8px; }


.footer, footer {
  background-color: #819033;
  color: #FFFFFF;  
}

footer p{
 font-size: 11px;	
}
.footer a, footer a { color: #D0E621; }

.brand img {
	width: 75%;
}

.small-select {
	width: 50px;
}

.med-select {
	width: 100px;
}
.large-select {
	width: 160px;
}
.xlarge-select {
	width: 190px;
}

table {
	background: #FFFFFF;
}

a, a:hover {
  color: #819033;
}

dl {
	margin-top: 0;
   margin-bottom: 15px;
}

dd {
	margin-bottom: 7px;
}



